@charset "UTF-8";

@font-face {
	font-family: "Grtsk Tera";
	src: url(../fonts/Grtsk-Tera-Medium.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Grtsk Giga";
	src: url(../fonts/Grtsk-Tera-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Grtsk Giga italic";
	src: url(../fonts/Grtsk-Tera-Bold-Italic.otf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Grtsk Peta";
	src: url(../fonts/Grtsk-Tera-ExtraLight.otf);
	font-weight: bold;
	font-style: normal;
}
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	overflow: hidden;
}
a {
	text-decoration: none;
}
ul,
s ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	width: 100%;
	height: 100vh;
	background-color: #bebebe;
}
.wrapper {
	margin: 0px auto;
	height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0px 19px;
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		z-index: 1;
	}
	&__body {
		display: flex;
		justify-content: center;
		height: 80px;
		align-items: center;
		@media (max-width: 414px) {
			justify-content: flex-end;
		}
	}
	&__logo {
		position: relative;
		margin: 0;
		padding: 0;
		font-size: 28px;
		line-height: 30.8px;
		cursor: pointer;
		font-family: "Grtsk Tera";
		text-transform: uppercase;
		color: #000000;
		-webkit-text-stroke: 0.7px #000000;
		z-index: 10;

		@media (max-width: 1024px) {
		font-size: 24px;}

		@media (max-width: 414px) {
			right: 30%;
			font-size: 20px;
		}
	}
	&__logo::before {
		content: attr(data-logo);
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		color: #bebebe;
		-webkit-text-stroke: 0.7px #000000;
		z-index: 1;
		white-space: nowrap;
		transition: 0.8s;
		transition-property: all;
		overflow: hidden;
	}
	&__logo:hover:before {
		width: 100%;
	}
	&__burger {
		display: none;
	}
	&__list {
		display: flex;
		position: relative;
	}
	&__list li {
		list-style: none;
		margin: 0px 0px 0px 20px;
	}
	@media (max-width: 414px) {
		.header__burger {
			display: block;
			position: relative;
			width: 22px;
			height: 10px;
			padding-top: 5px;
			z-index: 3;
		}
	}
	@media (max-width: 375px) {
		.header__logo {
			flex: 0 0 70px;
			font-size: 18px;
			line-height: 20px;
		}
	}
	&__burger:before,
	&__burger:after {
		content: "";
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	&__burger:before {
		top: 0;

	}
	&__burger:after {
		bottom: 0;

	}
	&__burger.active {
		height: 20px;
		z-index: 200;
	}
	&__burger.active:before {
		transform: rotate(45deg);
		top: 10px;
	}
	&__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	&__menu {
		position: fixed;
		text-align: center;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #bebebe;
		padding: 100px 10px 20px 10px;
	}

	&__menu.active {
		top: 0;
		z-index: 100;
	}

	&__list {
		display: block;
	}
	&__list li {
		margin: 0px 0px 20px 0px;
	}
}
.language {
	position: absolute;
	top: 20px;
	left: 36px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 2;
	@media (max-width: 768px) {
		flex-direction: column;
	}
	&__btn {
		width: 34px;
		height: 34px;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		display: flex;
		cursor: pointer;
		border: 1px solid rgb(255, 255, 255, 0.12);
		border-radius: 50%;
		background-color: transparent;
		font-size: 0px;
		img {
			max-width: 100%;
			display: block;
			border: none;
		}

		&:hover + .language__content {
			visibility: visible;
			animation: show 0.5s linear;
			z-index: 10;
		}
	}
	

	&__content {
		background-color: transparent;
		visibility: hidden;
		ul {
			display: flex;
			flex-direction: row;
			@media (max-width: 768px) {
				flex-direction: column;
			}
		}
	}
	&__content ul li {
		color: #ffffff;
		font-size: 10px;
		line-height: 15px;
		font-family: "Grtsk Peta";
		opacity: 0.5;
		padding: 12px 10px;
	}
	&__content:hover + ul li {
		opacity: 1;
	}
}
.moove-text-wrapper {
	height: 130px;
	width: 180%;
	position: absolute;
	top: 43%;
	transform: rotate(329deg);
}
.moove-text {
	font-family: "Grtsk Giga";
	font-size: 52px;
	line-height: 110%;
	width: 200%;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.2;
	color: #bebebe;
	-webkit-text-stroke: 1px #000000;
	white-space: nowrap;
	@media (max-width: 1024px) {
		font-size: 42px;
	}
	@media (max-width: 414px) {
		font-size: 28px;
	}
}
.reverse-text {
	transform: rotate(-180deg);
}
.moove-text-1 {
	left: 0;
	animation-name: moove-left;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	animation-direction: reverse;
}
.moove-text-2 {
	right: 0;
	animation-name: moove-right;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
}
@media (max-width: 414px) {
	.info__link {
		display: none !important;
	}
}
.link {
	a {
		color: #373737;
		font-size: 16px;
		line-height: 19.6px;
		cursor: pointer;
		text-decoration: none;
		font-family: "Grtsk Giga";
		display: block;
		@media (max-width: 1024px) {
			font-size: 14px;
		}
		
	}
	a:hover,
	:focus {
		font-family: "Grtsk Giga italic";
		color: #ffffff;
		transition: color 0.5s;
	}
	&:after {
		display: block;
		content: "";
		height: 1px;
		width: 0%;
		background-color: #ffffff;
		transition: width 0.2s ease-in-out;
	}
	&:hover:after,
	:focus:after {
		width: 100%;
	}
}
.aside-left {
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 50%;
	vertical-align: bottom;
	text-align: center;
	transform: rotate(-90deg);
}
.aside-right {
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 50%;
	vertical-align: bottom;
	text-align: center;
	transform: rotate(90deg);
}
.main {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__yellow-circle {
		width: 578px;
		height: 578px;
		background-color: #ffcb46;
		filter: blur(50px);
		z-index: 1;
		border-radius: 50%;
		position: relative;
		@media (max-width: 1024px) {
		width: 482px;
		height: 482px;
	}


	@media (max-width: 414px) {
			width: 294px;
			height: 294px;
		}
	}
	&__text {
		width: 1023px;
		height: 180px;
		font-family: "Grtsk Giga";
		font-size: 82px;
		line-height: 90px;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		z-index: 1;
		@media (max-width: 1024px) {
			width: 724px;
			font-size: 58px;
			line-height: 64px;
		}

		@media (max-width: 768px) {
			width: 568px;
			height: 192px;
		}

		@media (max-width: 414px) {
			width: 353px;
			font-size: 36px;
			line-height: 40px;
		}

	}
	&__scroll-wrapper{
	width: 118px;
	height: 118px;
	position: absolute;
	bottom: 16%;
	right: 32%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 414px) {
		width: 88px;
		height: 87px;
		bottom: 29%;
		right: 19%;
	}
	}
	&__scroll-text {
		max-width: 100%;
		display: block;
		border: none;
		animation-name: text-rotate;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-duration: 25s;
		position: fixed;	
	}

	&__ellipse-black {
		width: 8px;
		height: 8px;
		background-color: #000000;
		border-radius: 50%;
		position: absolute;
		top: 47%;
		left: 47%;
	}
}

footer {
	bottom: 2px;
	position: fixed;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	height: 5%;
}
@keyframes moove-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
@keyframes moove-right {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0%);
	}
}
@keyframes show {
	0% {
		margin-left: -20px;
		opacity: 0.3;
	}
	100% {
		margin-left: 0px;
		opacity: 1;
	}
}
@keyframes text-rotate {
	0% {
		transform: rotate(-360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}